/* 기본적인 사용자 지정 Reset CSS 예시 */

/* ======== 기본 리셋 ======== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 폰트 ------------------------------------------------------- */
@font-face {
    font-family: "Pretendard";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Pretendard";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
    font-weight: 700;
    font-style: bold;
    font-display: swap;
}

:root {
    /* 라이트 모드 (기본) */
    --background-color: #ffffff;
    --text-color: #333333;
    --accent-color: #0066cc;
}

[data-theme="dark"] {
    /* 다크 모드 */
    --background-color: #222222;
    --text-color: #f0f0f0;
    --accent-color: #4d9fff;
}

html {
    font-size: 10px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 1.5;
    color: #333;
    font-size: 1.6rem;
}

img {
    max-width: 100%;
    height: auto;
}

/* ===== 링크 ===== */
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
}

/* ====== 리스트 ===== */
ul,
ol {
    list-style: none;
}

button {
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    background-color: inherit;
}

/* ===== 접근성 ===== */
.sr-only {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /* 요소의 크기를 넘친 텍스트를 말줄임 처리합니다. */
}

.multi-ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
